.startScreenBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    font-family: 'Work Sans';
    color: #5B8EAB;
    font-size: 100px;
}